<style type="text/css">
  .tag h1 {
    color: <%= @tag.color_fg %>;
    background-color: rgba(<%= @tag.color_bg %>,0.5);
    padding: 5px;
    border-bottom: 2px solid rgba(<%= @tag.color_bg %>, 1);
  }
  .tag h1 em {
    font-weight: 200;
    font-style: normal;
  }
</style>

<div class="tag">
  <h1><em>#</em><%= @tag.name %></h1>

  <%= for story <- @stories do %>
    <%= render News.StoryView, "_item_story.html", story: story, conn: @conn %>
  <% end %>
</div>
