<div class="form-group markdown">
  <%= label @form, :content, t(@conn, "story.content") %>
  <%= textarea @form, :content, class: "form-control markdown-editor", "data-editor-id": "new_story" %>
</div>
